{{ 'announcement.css' | asset_url | stylesheet_tag }}


<section>
  <div class="announcement-bar utility-bar__grid {% if section.settings.show_social %}utility-bar__grid--2-col{% endif %}"
    >
     {% if section.settings.show-social %}
      <div class="socio-media-icons">
       <ul class="socio-media">
         {% if settings.facebook_link != blank %}
          <li class="link">
             <a href="{{ settings.facebook_link }}" class="link-item">
                {{ 'icon-facebook.svg' | inline_asset_content }}  
            </a>
          </li>
        {% endif %}
        {% if settings.twitter_link != blank %}
            <li class="link">
               <a href="{{ settings.twitter_link }}" class="link-item">
                  {{ 'icon-twitter.svg' | inline_asset_content }}  
              </a>
            </li>
        {% endif %}
        {% if settings.youtube_link != blank %}
              <li class="link">
                 <a href="{{ settings.youtube_link }}" class="link-item">
                    {{ 'icon-youtube.svg' | inline_asset_content }}  
                </a>
              </li>
        {% endif %}
       </ul>
     
       </div>

     {% endif %}

   {% if section.blocks.size == 1 %}
    <div class="title">
      {% if section.blocks.first.settings.text != blank %}
     
        <p>{{ section.blocks.first.settings.text }}</p>  
      {% endif %}
       
    </div>
    {% endif %}
    <div></div>
  </div>
  
</section>

<style>
  .announcement-bar{
     background: {{ section.settings.background }};
     color:{{ section.settings.text-color }}
  }
</style>

{% schema %}
{
  "name": "announcement bar",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "label",
      "default": "scheme-4"
    },
    {
       "type": "checkbox",
       "id":"show-social",
       "default":false,
       "label": "social icons"
    }
  ],
  "blocks":[
    {
      "type":"announcement",
      "name":"create annoucnement",
      "settings":[
        {
          "type":"text",
          "id":"text",
          "default":"text",
          "label":"title"
        },
        {
          "type":"url",
          "id":"link",
          "label":"link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "announement",
      "blocks": [
        {
          "type": "announcement"
        }
      ]
    }
  ]
}
{% endschema %}
