{{ 'header.css' | asset_url | stylesheet_tag }}

<section>
  <header class="header-container
    header--{{ section.settings.logo_position }}
    {{ section.settings.behaviour }}
    ">

    {% if section.settings.logo_position != 'middle-center' %}
    <h1>
      <a href="/">

        {% if settings.logo != blank %}
          <div class="logo">
            {%- assign logo_height = 50 | divided_by: 1 -%}
            {{
              settings.logo
              | image_url: width: 600
              | image_tag: class: 'header-logo', width: 50, height: logo_height
            }}
          </div>
          {% else %}
            <div class="title">Dev Store</div>
        {% endif %}
      </a>
    </h1>

    {% endif %}

    <nav class="menu-links">
      <ul>
        {% for link in section.settings.menu.links %}
          <a href="{{ link.title }}">
            <li>
              <span>{{ link.title }}</span>
            </li>
          </a>
        {% endfor %}
      </ul>
    </nav>

    {% if section.settings.logo_position == 'middle-center' %}
      <h1>
        <a href="/">
          {% if settings.logo != blank %}
            <div class="logo">
              {%- assign logo_height = 50 | divided_by: 1 -%}
              {{
                settings.logo
                | image_url: width: 600
                | image_tag: class: 'header-logo', width: 50, height: logo_height
              }}
            </div>
            {% else %}
              <div class="title">Dev Store</div>
          {% endif %}
        </a>
      </h1>
  
      {% endif %}

    <div class="right-content">
      <span class="svg">{{ 'icon-search.svg' | inline_asset_content }}</span>
      {% if shop.customer_accounts_enabled %}
        <a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}">
          <account-icon>
            {% if customer and customer.has_avatar? %}
              {{ customer | avatar }}
            {% else %}
              <span class="svg">{{ 'icon-account.svg' | inline_asset_content }}</span>
            {% endif %}
          </account-icon>
        </a>
      {% endif %}

      <a
        href="{{ routes.cart_url }}"
        class="header-icon--cart"
      >
        {% if cart == empty %}
          <span class="svg">{{ 'icon-cart-empty.svg' | inline_asset_content }}</span>
        {% else %}
          <span class="svg">{{ 'icon-cart.svg' | inline_asset_content }}</span>
        {% endif %}
        {% if cart != empty %}
          <div class="cart-item-count">
            {%- if cart.item_count < 100 -%}
              <span>{{ cart.item_count }}</span>
            {% endif %}
          </div>
        {% endif %}
      </a>
    </div>
  </header>
</section>

<style>
  .header-container{
    background-color: {{ section.settings.bg-color }}
  }

 .title{
      color: {{ section.settings.text-color }}
  }
  .menu-links ul li{
    color: {{ section.settings.text-color }}
  }
</style>

{% schema %}
{
  "name": "header",
  "class": "section-header",
  "settings": [
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "top-left",
          "label": "top left"
        },
        {
          "value": "top-center",
          "label": "top center"
        },
        {
          "value": "middle-left",
          "label": "middle left"
        },
        {
          "value": "middle-center",
          "label": "middle center"
        }
      ],
      "default": "middle-left",
      "label": "changeLogoPos",
      "info": "content"
    },
    {
       "type":"color",
       "id":"bg-color",
       "label": "Bg color"
    },
    {
      "type":"color",
      "id":"text-color",
      "label": "Text color"
   },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "main menu"
    },
   {
     "type": "select",
     "id":"behaviour",
     "options": [
      {
        "label": "none",
        "value": "none"
      },
      {
        "label": "fixed",
        "value": "fixed"
      }
     ],
     "label": "behaviour",
     "default":"none"
   }
  ],
  "presets": []
}
{% endschema %}
