{{ 'image-banner.css' | asset_url | stylesheet_tag }}



{% liquid
  assign fullwidth = '100vw'
  if section.settings.img_behaviour == 'ambient'
    assign halfwidth = '60vw'
    assign fullwidth = '120vw'

  elsif section.settings.img_behaviour == 'fixed' or section.settings.img_behaviour == 'zoom'
    assign halfwidth = '100vw'
    assign fullwidth = '100vw'

  else
    assign halfwidth = '50vw'
  endif
%}

<section>
  <div
    id="Banner-{{ section.id }}"
    class="banner banner-align-{{ section.settings.content-position }} {% if section.settings.rte == true %} rte {% endif %}"
  >
    {% if section.settings.image1 != blank %}
      <div
        class="
          banner-image media
           {% if section.settings.image1 == blank and section.settings.image2 == blank %}
            'placeholder'
          {% endif %}
          {% if section.settings.image2 != blank %}
             image-half
          {% endif %}
           {% if section.settings.img_behaviour != 'none' %}
            animate-{{ section.settings.img_behaviour }}
           {% endif %}
        "
      >
        {% liquid
          assign image_height = section.settings.image1.width | divided_by: section.settings.image1.aspect_ratio
          if section.settings.image2 != blank
            assign image_class = 'image-half'
          endif
          if section.settings.image2 != blank
            assign sizes = halfwidth
          else
            assign sizes = fullwidth
          endif
        %}
        {{
          section.settings.image1
          | image_url: width: 3840
          | image_tag: width: section.settings.image1.width, height: image_height, class: image_class, sizes: sizes
        }}
      </div>
    {% elsif section.settings.image2 == blank %}
      <div
        class="
          banner-image media
          {% if section.settings.image2 != blank %}
            image-half
          {% endif %}
          {% if section.settings.img_behaviour != 'none' %}
           animate-{{ section.settings.img_behaviour }}
          {% endif %}
        "
      >
        <img src="{{ 'chair-2.jpg' | asset_url }}" width="300" height="300" alt="Armchair" />

        
      </div>
    {% endif %}

    {% if section.settings.image2 != blank %}
      <div
        class="banner-image
          {% if section.settings.image1!= blank %}
            image-half
          {% endif %}
          {% if section.settings.img_behavior != 'none' %}
           animate-{{ section.settings.img_behaviour }}
          {% endif %}
        "
      >
        {% liquid
          assign image_height_2 = section.settings.image2.width | divided_by: section.settings.image2.aspect_ratio
          if section.settings.image1 != blank
            assign image_class = 'image-half'
          endif
          if section.settings.image1 != blank
            assign sizes = halfwidth
          else
            assign sizes = fullwidth
          endif
        %}
        {{
          'chair-2.jpg'| asset_url
          | image_url: width: 3840
          | image_tag: width: section.settings.image2.width, height: image_height_2, class: image_class, sizes: sizes
        }}
      </div>
    {% endif %}
    <div class="banner-content">
      <div class="banner-box">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'heading' %}
              <h2 class="heading inline-richtext">
                {{ block.settings.heading }}
              </h2>
            {% when 'text' %}
              <p class="text">
                {{ block.settings.text }}
              </p>
          {% endcase %}
        {% endfor %}
        <div class="button">
          <a class="button-link">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% style %}
  .banner::after{
    opacity: {{ section.settings.overlay | divided_by: 100.0 }}
  }
  .banner-content{
    background-color: {{ section.settings.bg-color }}
  }
{% endstyle %}


{% schema %}
{
  "name": "banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "image1",
      "label": "select image 1"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "select image 2"
    },
    {
       "type": "checkbox",
       "id":"rte",
       "default":false,
       "label": "left banner"
    },
    {
      "type": "color",
      "id": "bg-color",
      "label": "Bg color"
    },
    {
      "type": "range",
      "id": "overlay",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "select overlay",
      "default": 0
    },
    {
      "type": "select",
      "id": "content-position",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "middle",
          "label": "Middle"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "middle",
      "label": "content position"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "scheme",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "img_behaviour",
      "options": [
        {
          "value": "none",
          "label": "none"
        },
        {
          "value": "ambient",
          "label": "ambient"
        },
        {
          "value": "fixed",
          "label": "fixed"
        },
        {
          "value": "zoom-in",
          "label": "zoom-in"
        },
      ],
      "default": "none",
      "label": "select image behavior"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "heading",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Make your home a place you truly want to be",
          "label": "heading"
        }
      ]
    },
    {
      "type": "text",
      "name": "title",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "banner",
          "label": "text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "image-banner",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
